<div class="signup">

    <div class="Customer Support">
        <p><b>Customer Support</b> </p>
        <p><b>0850 350 35 00</b></p>
    </div>
    
    <div>
        <img src="../../assets//piaangmovies.png" alt="PiaAng Movies Logo">
    </div>

    <h1>Sign Up</h1>

        <form>
        <div class="signup-form-control">
            <label for="email"> E-mail</label>
            <input type="email" name="email" placeholder="example@example.com*" required /> <br>

            <div class="name">
                <label for="name"> </label>
                <input type="text" name="name" placeholder="Firtsname*" required /> <br>
                <label for="lastname"> </label>
                <input type="text" name="lastname" placeholder="lastname*" required /> <br>
            </div>

            <label for="password">Enter password</label>
            <input type="password" name="password" placeholder="Password*" required/><br>
            

            <label for="password-repeat">Repeat password</label>
            <input type="password" name="password-repeat" placeholder="Password*" required/> <br>
            
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label><br>
            
        </div>


            <p>By creating an account you agree to our <a href="#" >Terms & Privacy</a>.</p>
            <a routerLink="/user-login">Log In</a>
            <button type="submit" class="signupbtn">Sign Up </button>
        
        </form>

</div>
