<div class="container">
  <div class="navbar">
        
    <img class="piaang-logo" src="../../assets/movieicon.png" alt="navbar-logo" routerLink="/">
   
    <a class="homepage" href="#home">Home Page</a>

  </div>
</div>


<div class="row"  infiniteScroll

  [infiniteScrollDistance]="2"

  [infiniteScrollThrottle]="50">

  <div class="col-md-3 mt-2" *ngFor="let movie of watchlist" >

    <app-movie-card [movie]="movie" [isdelete]="true" (deleteMovie)="removeFromWatchlist($event)"></app-movie-card>


  </div>
</div>
  

  
