<app-navbar (movieData)="getMovieData($event)"></app-navbar>

<div class="row" infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()">

  <div class="col-md-3 mt-2" *ngFor="let movie of movies">

  <p *ngIf="isMovieInWatchlist(movie)" class="watchlist-indicator">Added to Watchlist</p>

    <app-movie-card [movie]="movie" (addMovie)="changeWatchlist($event)" [selectedMovies]="selectedMovies"></app-movie-card>
  
  </div>

  <div *ngIf="isLoading" class="loading">Loading...</div>

  <div *ngIf="isError" class="error">Error occurred while fetching data.</div>

</div>