.navbar{
    overflow: hidden;
    background-color:#BCBBBB ;
}

.piaang-logo{
    width: 75px;
    float: left;
    margin: 2px;
}

.search{
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 10px 5px ;

}
.homepage-centered{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 20px;
    
}

.homepage-centered a {
float: left;
  color: #f2f2f2;
  text-align: center;
  }

.elements{
    float: right;
    margin: 5px;
    margin-bottom: 5px;
}

.wlist{
    text-decoration: none;
    color: white;
    margin-right: 20px ;
    position: fixed;
}
.language-options{
    margin-right: 15px;
    
}