
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BCBBBB;
    padding: 10px;
    color: white; 
}


.piaang-logo {
    width: 75px; 
    height: 75px;
    cursor: pointer;
}


.search {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; 
}


.homepage-centered {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}


.language-options {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-options img {
    margin-right: 5px;
}

/* Style for the My Watchlist link */
.wlist {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}



.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.login{
    border-radius: 2px;
    border: none;
    color: blue;
    margin: 2px;
}
.logout{
    border-radius: 2px;
    border: none;
    color: blue;
}