<div class="card-body"  style="width: 18rem;">

  <h2 class="card-title"><b>{{ movie.title }}</b></h2>


  <div class="fav">
    <button class="favbutton" type="button" *ngIf="!isdelete" (click)="addWatchList(movie)"> + </button>
    
  </div>


  <div class="imgdiv">
  <img [src]="'https://image.tmdb.org/t/p/w500' +movie.poster_path" style="width: 200px;" alt=" Poster">
  </div>

  <p class="card-text">{{ movie.overview }}</p>

  <p class="card-lang">{{ movie.original_language }}</p>

  <span class="card-vote"> <b>Vote: {{movie.vote_average}}</b></span>

  <p class="card-date"> Release Date: {{ movie.release_date }}</p>

  <div class="delete">
  <button class="deletebtn"  *ngIf="isdelete" (click)="removeFromWatchlist(movie)"> Remove from my watchlist </button>
  </div>

  </div>
 
