<div class="login">

    <div class="Customer Support">
        <p><b>Customer Support</b> </p>
        <p><b>0850 350 35 00</b></p>
    </div>
    
    <div>
        <img src="../../assets//piaangmovies.png" alt="PiaAng Movies Logo">
    </div>

        <form (submit) = "login()" autocomplete = "new-password">

            <h1> Login with your e-mail account</h1>

            <div  class="form-control">
                <label for="email">E-mail</label>
                <input id="email" type="email" placeholder="example@example.com" required/>
            </div>

            <div  class="form-control">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password*" required/>
            </div>

            <div class="form-control">
                <input type="checkbox" id="chk" value="Remember me"> 
                <label for="check">Remember me</label>
            </div>

            <div class="Login-Signin Button">
                <button type="button">Login</button>
            </div>

        <p><a routerLink="/user-signup">Create a new account!</a></p>

        </form>

</div>
